<div class="col-lg-4 col-md-4 col-sm-6">
  <a href="<%= menu.photo %>" class="fh5co-card-item image-popup">
    <figure>
      <div class="overlay">
        <i class="ti-plus"></i>
      </div>
      <img src="<%= menu.photo %>" alt="Image" class="img-responsive">
    </figure>
    <div class="fh5co-text">
      <h2><%= menu.title %></h2>
      <p><%= menu.description %></p>
      <p>
        <span class="price cursive-font">R$ <%= menu.price %></span>
      </p>
    </div>
  </a>
</div>